<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  <meta name="author" content="">
  {% load static %}
  <title>404</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<body>

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h1><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 404</h1>
        <h2>Oops... Page Not Found!</h2>

        <form action="#" method="post">
          <input type="text" placeholder="Search..." name="search">
          <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>

        <p>If you think you have arrived here by our mistake, please <a href="#">contact us</a></p>

        <h3>Follow us:</h3>
        <div class="social-networks">
          <a href="https://www.facebook.com/creativedesignthemes/" target="_blank"><i
              class="fab fa-facebook-square"></i></a>
          <a href="https://www.pinterest.com/creative3355/" target="_blank"><i class="fab fa-pinterest-square"></i></a>
          <a href="https://twitter.com/creativedesign_" target="_blank"><i class="fab fa-twitter-square"></i></a>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          &copy; 2016 All Rights Reserved <a href="https://creativedesign.rs/" target="_blank">www.creativedesign.rs</a>
        </div>
      </div>
    </div>
  </footer>



  <script src="{% static 'myapp/js/jquery.js' %}"></script>
  <script src="{% static 'myapp/js/bootstrap.js' %}"></script>

</body>

</html>